.introduction {
  position: relative;
  isolation: isolate;
  border-radius: 22.27px;
  padding-bottom: 84px;
  margin-bottom: 25px;
  background-color: #F1F1F1;
}

.introduction::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 41%;
  height: 100%;
  background: url('../img/backgroundLeftElipsis.png') no-repeat center center;
  z-index: -1;
  border-top-left-radius: 22.27px;
  border-bottom-left-radius: 22.27px;
}

.introduction::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 35%;
  height: 100%;
  background: url('../img/backgroundRightElipsis.png') no-repeat center center;
  z-index: -1;
  border-top-right-radius: 22.27px;
  border-bottom-right-radius: 22.27px;
}

.introduction__wrapper {
  display: flex;
  justify-content: space-between;
}

.introduction__dialog {
  height: 100%;
  padding-top: 81px;
  padding-left: 110px;
  display: flex;
  align-items: flex-end;
  gap: 9px;
}

.introduction__dialog_text-wrapper {
  max-width: 666px;
  padding: 25px 35px 1px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
}

.introduction__dialog_text {
  margin-bottom: 22px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.introduction__info {
  padding-top: 125px;
  padding-right: 74px;
}

.introduction__info_figcaption {
  text-align: center;
  font-family: Geologica;
font-size: 13.28px;
font-weight: 400;
line-height: 17.93px;
color: #1C195B;
margin-bottom: 3px;
}

.introduction__info_owners-photo {
  position: absolute;
  bottom: 0;
  right: 13px;
  width: 617px;
  height: 539px;
  z-index: 1;
}

.introduction__info_owners-figcaption {
  position: absolute;
  bottom: 109px;
  right: 105px;
  width: 283px;
  height: 84px;
  padding: 11px 0 0 18px;
  border-radius: 6px;
  background-color: #5d29f1;
  z-index: 2;
}

.introduction__info_owners-info-heading {
  margin-bottom: 5px;
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0.02em;
}

.introduction__info_owners-info-text {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
