.introduction {
  overflow: hidden;
}

.introduction__container {
  position: relative;
  isolation: isolate;
  border-radius: 22.27px;
  padding-bottom: 84px;
  margin-bottom: 25px;
  background-color: #f1f1f1;
}

.introduction__container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: url('../img/backgroundLeftElipsis.png') no-repeat top left;
  z-index: -1;
  border-top-left-radius: 22.27px;
  border-bottom-left-radius: 22.27px;
}

.introduction__container::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: url('../img/backgroundRightElipsis.png') no-repeat top right;
  z-index: -1;
  border-top-right-radius: 22.27px;
  border-bottom-right-radius: 22.27px;
}

.introduction__wrapper {
  display: flex;
  justify-content: space-between;
}

.introduction__dialog {
  height: 100%;
  padding-top: 81px;
  padding-left: 110px;
  display: flex;
  align-items: flex-end;
  gap: 9px;
}

.introduction__dialog_text-wrapper {
  max-width: 666px;
  padding: 25px 33px 3px 35px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
  z-index: 2;
}

.introduction__dialog_text-wrapper-mobile {
  display: none;
}

.introduction__dialog_text-wrapper-desktop {
  display: block;
}

.introduction__dialog_text {
  margin-bottom: 22px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.3px;
}

.introduction__info {
  padding-top: 125px;
  padding-right: 72px;
}

.introduction__info_figcaption {
  margin-bottom: 3px;
  padding-right: 5px;
  text-align: center;
  font-family: Geologica;
  font-size: 13.28px;
  font-weight: 400;
  line-height: 17.93px;
  color: #1c195b;
}

.introduction__info_owners-photo {
  position: absolute;
  bottom: 0;
  right: 13px;
  width: 617px;
  height: 539px;
  z-index: 1;
}

.introduction__info_owners-figcaption {
  position: absolute;
  bottom: 109px;
  right: 105px;
  width: 283px;
  height: 84px;
  padding: 11px 0 0 18px;
  border-radius: 6px;
  background-color: #5d29f1;
  z-index: 2;
}

.introduction__info_owners-info-heading {
  margin-bottom: 5px;
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0.02em;
}

.introduction__info_owners-info-text {
  font-family: Geologica;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

@media (max-width: 1280px) {
  .introduction__container::before {
    background: url('../img/questionsLeftElipsis.png') no-repeat top left;
  }

  .introduction__container::after {
    height: 91%;
  }

  .introduction__dialog_text-wrapper {
    max-width: 600px;
  }
  .introduction__info_owners-photo {
    right: -55px;
  }
}

@media (max-width: 1200px) {
  .introduction__container {
    padding-bottom: 357px;
  }

  .introduction__wrapper {
    flex-direction: column;
  }

  .introduction__dialog {
    padding-left: 0;
    /* justify-content: center; */
  }

  .introduction__dialog_text-wrapper {
    max-width: 566px;
  }

  .introduction__dialog_text {
    margin-bottom: 13px;
    font-size: 16px;
  }

  .introduction__info {
    padding-top: 10px;
    padding-right: 0;
  }

  .introduction__info_qr {
    display: flex;
    justify-content: flex-end;
    padding-right: 17%;
  }

  .introduction__info_qr-code {
    width: 135px;
    height: 135px;
  }

  .introduction__info_owners-photo {
    right: 50%;
    transform: translate(50%, 0);
  }

  .introduction__info_owners-figcaption {
    right: 31%;
  }
}

@media (max-width: 830px) {

  .introduction__dialog_text-wrapper {
    max-width: 450px;
  }
}

@media (max-width: 680px) {
  .introduction__dialog {
    padding-left: 25px;
  }

  .introduction__info_qr {
    padding-right: 5%;
  }

  .introduction__info_owners-figcaption {
    right: 15%;
  }
}

@media (max-width: 590px) {
  .introduction {
    padding: 0 7px 0 6px;
  }

  .introduction__container {
    padding-bottom: 164px;
    border-radius: 15px;
    overflow: hidden;
  }

  .introduction__container::before {
    background-image: url('../img/introductionLeftElipsisMobileBG.png');
    background-position: top left;
    border-radius: 15px 0 0 0;
  }

  .introduction__container::after {
    background-image: url('../img/introductionRightElipsisMobileBG.png');
    background-size: 100% auto;
    background-position: bottom right;

    height: 100%;
    width: 100%;
    border-radius: 0 0 15px 0;
  }

  .introduction__dialog {
    padding-left: 25px;
  }

  .introduction__dialog_text-wrapper-mobile {
    display: block;
  }

  .introduction__dialog_text-wrapper-desktop {
    display: none;
  }

  .introduction__wrapper {
    flex-direction: column;
  }

  .introduction__dialog {
    padding: 35px 5px 0 12px;
    margin-bottom: 35px;
    gap: 4px;
  }

  .introduction__dialog_text-wrapper {
    max-width: 315px;
    padding: 15px 30px 13px 25px;
  }

  .introduction__dialog_text {
    font-size: 14px;
    line-height: 18.2px;
    margin-bottom: 17px;
    max-width: 260px;
  }

  .introduction__dialog_text:nth-of-type(3) {
    margin-bottom: 14px;
  }

  .introduction__dialog_text:nth-of-type(5) {
    max-width: 248px;
    margin-bottom: 0;
  }

  .introduction__info_figcaption {
    padding-right: 0;
    font-size: 12px;
    line-height: 16.2px;
  }

  .introduction__info_qr {
    padding-right: 8px;
  }

  .introduction__info_qr-code {
    width: 107px;
    height: 106px;
  }

  .introduction__info_owners-photo {
    width: 355px;
    height: 320px;
  }

  .introduction__info_owners-figcaption {
    right: 34px;
    bottom: 21px;
    width: 203px;
    height: 67px;
    border-radius: 4.3px;
    padding: 5px 0 0 13px;
  }

  .introduction__info_owners-info-heading {
    font-size: 14px;
    margin-bottom: 1px;
  }

  .introduction__info_owners-info-text {
    font-size: 12px;
    line-height: 14.4px;
  }
}

