@import url("./utilities.css");
@import url("./header.css");
@import url("./introduction.css");
@import url("./terms.css");
@import url("./questions.css");
@import url("./qa-dialog-investments.css");
@import url("./qa-dialog-income.css");
@import url("./qa-dialog-team.css");
@import url("./qa-dialog-earnings.css");
@import url("./qa-dialog-acknowledge.css");
@import url("./qa-dialog-common-issues.css");
@import url("./footer.css");

@font-face {
  font-family: Bicubik;
  src: url('../fonts/bicubik/bicubik.woff') format('woff'),
    url('../fonts/bicubik/bicubik.woff2') format('woff2');
    font-style: normal;
}

@font-face {
  font-family: Geologica;
  src: url('../fonts/geologica/GeologicaExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  src: url('../fonts/geologica/GeologicaThinRegular.ttf') format('truetype');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  src: url('../fonts/geologica/GeologicaLightRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Geologica;
  src: url('../fonts/geologica/GeologicaRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Wadik;
  src: url('../fonts/wadik/Wadik.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  min-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px 26px 0 26px;
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
}

.text-selection {
  color: #05e9f0;
}

.text-selection-blue {
  color: #544CF9;
}

.text-selection-red {
  color: #FF5050 ;
}

@media (max-width: 390px) {
  body {
    padding: 0;
  }
}