.terms__container {
  background: url('../img/headerBackGround.jfif') no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  padding: 0 30px 59px 113px;
  margin-bottom: 25px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 19.8px;
}

.terms__dialog-wrapper {
  padding-top: 70px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.terms__dialog-content {
  padding: 25px 48px 9px 31px;
  border-radius: 19.65px 19px 19.65px 0.85px;
  background-color: #1c195b;
}

.terms__dialog-heading {
  padding-left: 3px;
  margin-bottom: 25px;
  font-family: Wadik;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.54px;
}

.terms__dialog-cards {
  position: relative;
  padding-left: 3px;
  display: flex;
  gap: 25px;
  margin-bottom: 29px;
}

.terms__dialog-cards_offer {
  position: relative;
  padding: 29px 0 19px 43px;
}

.terms__dialog-cards_offer::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49.8%, -49.5%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: url('../img/cardBorder.png') no-repeat;
  background-size: 100% 100%;
  z-index: 5;
}

.terms__dialog-cards_offer-text {
  max-width: 411px;
  margin-bottom: 16px;
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.91px;
}

.terms__dialog-cards_offer-item {
  display: flex;
  gap: 15px;
}

.terms__dialog-cards_offer-item:nth-child(1) {
  margin-bottom: 3px;
}

.terms__dialog-cards_offer-item:nth-child(2) {
  padding-left: 3px;
  margin-bottom: 5px;
}

.terms__dialog-cards_offer-item:nth-child(3) {
  padding-left: 3px;
  margin-bottom: 7px;
}

.terms__dialog-cards_offer-item:nth-child(4) {
  padding-left: 1px;
}

.terms__dialog-cards_offer-item:nth-child(1)::before {
  content: url('../img/studySvg.svg');
}

.terms__dialog-cards_offer-item:nth-child(2)::before {
  content: url('../img/mentorsSvg.svg');
}

.terms__dialog-cards_offer-item:nth-child(3)::before {
  content: url('../img/communitySvg.svg');
}

.terms__dialog-cards_offer-item:nth-child(4)::before {
  content: url('../img/investmentsSvg.svg');
}

.terms__dialog-cards_offer-item-study {
  padding-top: 3px;
}

.terms__dialog-cards_offer-item-mentors {
  padding-top: 4px;
  padding-left: 4px;
}

.terms__dialog-cards_offer-item-community {
  padding-top: 3px;
  padding-left: 3px;
}

.terms__dialog-cards_offer-item-investment {
  padding-top: 5px;
  padding-left: 1px;
}

.terms__dialog-cards_requirements {
  position: relative;
  padding: 28px 26px 0 41px;
}

.terms__dialog-cards_requirements::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49.8%, -49.5%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: url('../img/cardBorder.png') no-repeat;
  background-size: 100% 100%;
  z-index: 5;
  pointer-events: none;
}

.terms__dialog-cards_requirements-text {
  margin-bottom: 13px;
  font-family: Wadik;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.91px;
}

.terms__dialog-cards_requirements-item {
  position: relative;
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-left: 38px;
}

.terms__dialog-cards_requirements-item:nth-child(1)::before {
  content: '';
  background: url('../img/checkmarkSvg.svg') no-repeat;
  background-size: 100% 100%;
  width: 23px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 1px;
}

.terms__dialog-cards_requirements-item:nth-child(2)::before {
  content: '';
  background: url('../img/checkmarkSvg.svg') no-repeat;
  background-size: 100% 100%;
  width: 23px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: -3px;
}

.terms__dialog-cards_requirements-day-limits {
  margin-bottom: 14px;
}

.terms__dialog-cards_requirements-item:nth-child(3) {
  display: flex;
  padding-left: 13px;
  position: relative;
}

.terms__dialog-cards_requirements-capital {
  position: relative;
  padding: 12px 19px 12px 28px;
  background-color: #5d29f1;
  border-radius: 6px;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.terms__dialog-cards_requirements-capital::before {
  content: '';
  background: url('../img/termsExclamationMarkDesktop.png') no-repeat;
  position: absolute;
  left: -13px;
  top: 3.5px;
  width: 32px;
  height: 37px;
}

.terms__dialog-profit-item {
  position: relative;
  display: flex;
  font-family: Geologica;
  font-size: 18px;
  font-weight: 250;
  line-height: 23.4px;
}

.terms__dialog-profit-item:nth-child(1) {
  margin-bottom: 13px;
}

.terms__dialog-profit-item:nth-child(2) {
  padding-left: 3px;
  font-family: Bicubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.81px;
  margin-bottom: 15px;
}

.terms__dialog-profit-item:nth-child(3) {
  display: flex;
  padding-left: 4px;
}

.terms__dialog-profit-item:nth-child(3)::before {
  content: '';
  background: url('../img/investmentsSmallSvg.svg') no-repeat;
  background-size: contain;
  position: absolute;
  left: 5px;
  top: -1px;
  width: 25px;
  height: 25px;
}

.terms__dialog-profit-item:nth-child(4) {
  padding-left: 4px;
  margin-bottom: 3px;
}

.terms__dialog-profit-item:nth-child(4)::before {
  content: '';
  background: url('../img/handShakeSvg.svg') no-repeat;
  background-size: contain;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 28px;
  height: 25px;
}

.terms__dialog-profit-item:nth-child(5) {
  max-width: 380px;
  padding-left: 4px;
  margin-bottom: 15px;
}

.terms__dialog-profit-item:nth-child(5)::before {
  content: '';
  background: url('../img/heartSvg.svg') no-repeat;
  background-size: contain;
  position: absolute;
  left: 5px;
  top: 13px;
  width: 27px;
  height: 25px;
}

.terms__dialog-profit-online {
  margin-bottom: 8px;
}

.terms__dialog-profit-help {
  margin-bottom: 6px;
}

.terms__dialog-profit-online,
.terms__dialog-profit-help,
.terms__dialog-profit-experience {
  padding-left: 43px;
}

.terms__dialog-profit-experience-desktop {
  display: block;
}

.terms__dialog-profit-experience-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .terms__container {
    padding: 0 30px 59px 20px;
  }

  .terms__dialog-cards {
    flex-direction: column;
  }

  .terms__dialog-cards_requirements {
    padding: 28px 26px 57px 41px;
  }
}

@media (max-width: 765px) {
  .terms__dialog-cards {
    flex-direction: column;
  }

  .terms__dialog-cards_requirements {
    padding: 28px 26px 18px 41px;
  }
}

@media (max-width: 680px) {
  .terms__container {
    padding: 0 30px 59px 25px;
    font-size: 16px;
  }

  .terms__dialog-cards_requirements-capital {
    font-size: 14px;
  }
}

@media (max-width: 590px) {
  .terms {
    padding: 0 7px 0 6px;
  }

  .terms__container {
    padding: 35px 8px 35px 6px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 15.4px;
  }

  .terms__dialog-wrapper {
    padding: 0;
  }

  .terms__dialog-cards {
    gap: 16px;
    margin-bottom: 21px;
  }

  .terms__dialog-content {
    padding: 16px 0 0 22px;
    max-width: 315px;
  }

  .terms__dialog-heading {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 19.91px;
  }

  .terms__dialog-cards_offer-text {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 14.38px;
  }

  .terms__dialog-cards_offer {
    padding: 22px 0px 13px 25px;
  }

  .terms__dialog-cards_requirements-capital {
    font-size: 14px;
  }

  .terms__dialog-cards_offer-item:nth-child(1)::before {
    content: url('../img/studyMobileSvg.svg');
  }

  .terms__dialog-cards_offer-item:nth-child(2)::before {
    content: url('../img/mentorsMobileSvg.svg');
  }

  .terms__dialog-cards_offer-item:nth-child(3)::before {
    content: url('../img/communityMobileSvg.svg');
  }

  .terms__dialog-cards_offer-item:nth-child(4)::before {
    content: url('../img/investmentsMobileSvg.svg');
  }

  .terms__dialog-cards_offer-item:nth-child(1) {
    margin-bottom: 2px;
  }

  .terms__dialog-cards_offer-item:nth-child(2) {
    padding-left: 0px;
    margin-bottom: 1px;
  }

  .terms__dialog-cards_offer-item:nth-child(3) {
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .terms__dialog-cards_offer-item-study {
    padding-top: 0px;
  }

  .terms__dialog-cards_offer-item-mentors {
    padding-top: 2px;
    padding-left: 0px;
  }

  .terms__dialog-cards_offer-item-community {
    padding-top: 3px;
    padding-left: 0px;
  }

  .terms__dialog-cards_offer-item-investment {
    padding-top: 3px;
    padding-left: 0px;
  }

  .terms__dialog-cards_offer::after {
    background-size: 93% 172px;
  }

  .terms__dialog-cards_requirements {
    padding: 20px 12px 18px 25px;
  }

  .terms__dialog-cards_requirements::after {
    background-size: 93% 213px;
  }

  .terms__dialog-cards_requirements-item {
    padding-top: 1px;
    padding-left: 22px;
    padding-right: 15px;
    margin-bottom: 4.5px;
  }

  .terms__dialog-cards_requirements-text {
    font-size: 13px;
    line-height: 14.38px;
  }

  .terms__dialog-cards_requirements-list {
    font-size: 14px;
    line-height: 18.2px;
  }

  .terms__dialog-cards_requirements-item:nth-child(1)::before{
    width: 13px;
    left: 0px;
    top: -8px;
  }
  
  .terms__dialog-cards_requirements-item:nth-child(2)::before {
    width: 13px;
    left: 0px;
    top: -15px;
  }

  .terms__dialog-cards_requirements-capital {
    max-width: 171px;
    padding: 6px 15px 6px 19px;
    line-height: 16.6px;
  }

  .terms__dialog-cards_requirements-capital::before {
    background-image: url('../img/termsExclamationMarkMobile.png');
    width: 22px;
    height: 25px;
    top: 9.5px;
  }

  .terms__dialog-profit-item:nth-child(2) {
    font-size: 14px;
    line-height: 17.33px;
  }

  .terms__dialog-profit-item:nth-child(3)::before {
    left: 4px;
    top: 0px;
    width: 18px;
    height: 17px;
  }

  .terms__dialog-profit-item:nth-child(4)::before {
    left: 3px;
    top: 3px;
    width: 20px;
    height: 14px;
  }

  .terms__dialog-profit-item:nth-child(5)::before {
    left: 4px;
    top: 3px;
    width: 19px;
    height: 16px;
  }

  .terms__dialog-profit-online,
  .terms__dialog-profit-help,
  .terms__dialog-profit-experience {
    padding-left: 33px;
    font-size: 14px;
    line-height: 18.2px;
  }

  .terms__dialog-profit-online,
  .terms__dialog-profit-experience {
    max-width: 240px;
  }

  .terms__dialog-profit-online {
    margin-bottom: 4px;
  }

  .terms__dialog-profit-help {
    max-width: 235px;
    margin-bottom: 1px;
  }

  .terms__dialog-profit-experience-desktop {
    display: none;
  }

  .terms__dialog-profit-experience-mobile {
    max-width: fit-content;
    display: block;
  }
}
